{% extends "base.html" %}
{% block content %}
<div class="instruction">
    <h1>Instrukcja korzystania z api:</h1>
    <p>Wszystkie hasła zapisywane w bazie danych są po uprzednim zahashowaniu</p>
    <p>Do skorzystania z API należy użyć api key, który zostaje wygenerowany każdemu użytkownikowi po rejestracji</p>
    <p>Aby sprawdzić swój api key należy zalogować się na stronie</p>
    <h2>GET</h2>
    <p>API serwisu znajduje się pod adresem 6185.pythonanywhere.com/api/endpoint/?api_key=TWOJ_API_KEY.</p>
    <p>Lista wszystkich użytkowników 6185.pythonanywhere.com/api/users?api_key=TWOJ_API_KEY</p>
    <p>Wyszukać konkretnego użytkownika można poprzez dodanie id, username lub emaila do query api/users/?query=CO_CHCEMY_WYSZUKAC&api_key=TWOJ_API_KEY</p>
    <p>Po id: 6185.pythonanywhere.com/api/users/?query=1&api_key=TWOJ_API_KEY</p>
    <p>lub po username/emailu: 6185.pythonanywhere.com/api/users/?query=test&api_key=TWOJ_API_KEY</p>
    <br>
    <h2>POST</h2>
        <p>Dodać użytkownika można poprzez <b>POST</b>, wzór danych:
        <p>{
            "id": ' ',</p>
        <p>"email": "EMAIL UZYTKOWNIKA"</p>
        <p>"username": "NAZWA UZYTKOWNIKA"</p>
        <p>"password": "HASLO"
            }</p>
        <br>
    <h2>PUT</h2>
    <p>Aktualizować dane użytkownika można za pomocą metody <b>POST</b></p>
    <p>Aktualizacje danych należy dokonać poprzez wskazanie id użytkownika w linku</p>
    <p>Przykład linku do <b>POST</b>: 6185.pythonanywhere.com/api/users/?query=1&api_key=TWOJ_API_KEY</p>
    <p>Do aktualizacji danych należy wykorzystać powyższy wzór danych</p>
    <p>Można aktualizować pojedyńcze dane poprzez pominięcie innych w wzorze</p>
    <br>
    <h2>DELETE</h2>
    <p>Usuwać dane użytkownika można za pomocą metody <b>DELETE</b></p>
    <p>Usunięcie użytkownika należy dokonać poprzez wskazanie id użytkownika w linku</p>
    <p>Przykład linku do <b>DELETE</b>: 6185.pythonanywhere.com/api/users/?query=1&api_key=TWOJ_API_KEY</p>
</div>

{% endblock %}