{%extends 'base.html'%}

{%block title%}formularz{%endblock%}

{%block content%}

    <form id="form" action="{{'login'}}" method="post">
        <h1>LOGIN</h1>
        <label for="login">Podaj swój login: </label>
        <input type="number" name="login" id="login"><br>
        <label for="pass">Podaj swoje hasło: </label>
        <input type="text" name="pass" id="pass"><br>
        {{msg}}
        <input type="submit" value="Zaloguj">
    </form>
    <a href="{{'register'}}">Rejestracja</a>

{%endblock%}