{%extends 'base.html'%}

{%block title%}formularz{%endblock%}

{%block content%}
<div class="form">
<h1>REJESTRACJA</h1>
    <form id="form" action="{{url_for('register')}}" method="post">
        <div>
            <label for="email">Podaj swój e-mail: </label>
            <input type="email" name="email" id="email">
            <div class="mail_info"></div>
        </div>
        <div>
            <label for="login">Podaj swój login: </label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password" >Podaj swoje hasło: </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="password-confirm">Powtórz podane hasło: </label>
            <input type="password" name="password_confirm" id="password-confirm" class=>
            <div class="pass_info"></div>
        </div>
        <div>
            <br>
            <input type="checkbox" name="warunki" id="warunki">
            <label for="warunki" class=><a target="blank" href="../static/images/warunki.pdf">Akceptuje warunki umowy</a></label>
        </div>
        <br>
        <button id='register-btn' name="register_btn" class="button-12" disabled='true'>Dołącz do obozu</button>
        <br>
        <b>{{msg}}</b>
    </form>
    

</div>
<script src="../static/scripts/main.js"></script>


{%endblock%}